@media (max-width: 768px) {
  .banner-title {
    font-size: 4rem;
    padding: 0.5rem;
  }

  .banner-subtitle {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .banner-container {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  .hero-bg {
    top: auto;
    bottom: 0;
    width: 100%;
    max-width: 400px;
  }

  .hero-img {
    width: 90%;
    max-width: 350px;
  }

  .info-text {
    font-size: 1rem;
    max-width: 95%;
  }
}

@media (max-width: 640px) {
  .banner-title {
    font-size: 2.5rem;
    padding: 0.5rem;
  }

  .banner-subtitle {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .hero-banner-text {
    margin-top: 10px;
  }

  .banner-container {
    flex-direction: column;
    gap: 1rem;
  }

  .hero-bg {
    top: 100%;
    width: 90%;
  }

  .hero-img {
    width: 80%;
  }

  .info-text {
    font-size: 0.9rem;
    max-width: 90%;
  }
}

@media (max-width: 420px) {
  .banner-title {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .banner-subtitle {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .hero-img {
    width: 100%;
    max-width: 320px;
  }

  .hero-bg {
    width: 100%;
    max-width: 350px;
    bottom: -10px;
  }

  .info-text {
    font-size: 0.85rem;
    padding: 0 10px;
  }
}

@media (max-width: 408px) {
  .hero-banner-text {
    font-size: 2px;
    margin-bottom: 10px;
    padding: 0.5px;
  }

  .hero-banner-bg {
    top: 105%;
    left: 0;
  }
}
